In [7]:
import pandas as pd
import numpy as np

x = pd.DataFrame({'instance':['first','first','first'],'foo':['a','b','c'],'bar':np.random.rand(3)})
x

  instance foo       bar
0    first   a  0.668529
1    first   b  0.861944
2    first   c  0.544862

In [8]:
x = x.set_index(['instance','foo'])
x

                   bar
instance foo
first    a    0.668529
         b    0.861944
         c    0.544862

In [9]:
x = x.transpose()
x

instance     first
foo              a         b         c
bar       0.668529  0.861944  0.544862

In [10]:
x.columns

MultiIndex([('first', 'a'),
            ('first', 'b'),
            ('first', 'c')],
           names=['instance', 'foo'])

In [ ]:
x2 = pd.DataFrame({})

In [13]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},

index = pd.MultiIndex.from_tuples(
    [('d', 1), ('d', 2), ('e', 2)], names=['n', 'v']))

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [15]:
df.columns

Index(['a', 'b', 'c'], dtype='object')

In [43]:
df1 = pd.DataFrame({'A': [1,2,3],
                    'B': [4,5,6]})
#df1 = pd.melt(df1)
df1.pivot(columns='A')

df2 = pd.DataFrame({'C': ["1","2","3"],
                    'B': [4,5,6]})

df2.query('C.str.startswith("1")',
engine="python")
df1

   A  B
0  1  4
1  2  5
2  3  6

In [44]:
pd.merge(df1, df2, how="left", on="B")

   A  B  C
0  1  4  1
1  2  5  2
2  3  6  3

In [45]:
df1.merge(df2, on='B')

   A  B  C
0  1  4  1
1  2  5  2
2  3  6  3

In [19]:
df1.iat[0,0]

1

In [21]:
df1.at[0, "B"]

4