## Covariate data for PatchTST

This generates the data which can test whether PatchTST can detect covariate results. (21/04/2024)

In [1]:
import numpy as np
import pandas as pd

date_range = pd.date_range('2015-01-01', '2023-12-31', freq='H')
s1 = np.random.randn(len(date_range) + 24)
s2 = np.random.randn(len(date_range) +24)
s3 = s1 + s2
print(s3.shape)

(78889,)

In [2]:

df = pd.DataFrame({'date': date_range, 's1': s1[24:], 's2': s2[24:], 'load': s3[:-24]})
df

                     date        s1        s2      load
0     2015-01-01 00:00:00 -0.999159  0.524163  1.027777
1     2015-01-01 01:00:00  0.176091 -0.793624  2.589206
2     2015-01-01 02:00:00 -2.022179  0.556477 -2.202423
3     2015-01-01 03:00:00 -0.032828  0.039019  0.062489
4     2015-01-01 04:00:00  1.002487  1.173951 -1.592504
...                   ...       ...       ...       ...
78860 2023-12-30 20:00:00  1.158623 -0.318156 -0.167622
78861 2023-12-30 21:00:00 -0.011809 -1.002304  1.631971
78862 2023-12-30 22:00:00 -1.462888 -0.843786  0.598916
78863 2023-12-30 23:00:00 -0.476886  0.375105  0.678988
78864 2023-12-31 00:00:00 -0.762978 -0.558467 -2.090410

[78865 rows x 4 columns]

In [3]:
df.to_csv('./../../data/preproc/covariatess.csv', index=False)